body {
    font-family: Arial, sans-serif;
    background-color: #f6f4e8;
    margin: 0;
    padding: 20px;
}

/* Main Screen */
#main-screen {
    text-align: center;    
}

#json-dropbox {
    background: white;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    max-width: 780px;
}

#json-dropbox:hover {
    /* accent color */
    border-color: #9baea4;
    background: #c8d0c3;
}

/* Screens */
.screen {
    display: none; /* hides the screen */
}

.screen.active {
    display: block; /* reveals the screen */
}

#screen-questions {
    max-width: 780px;
    margin: auto;    
    margin-top: 50px;
}

/* Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.option {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    padding: 11px 14px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.option:hover {
    border-color: #9baea4;
    background: #c8d0c3;
}

.option.selected {
    border-color:#0F6E56;
    background: #E1F5EE;
}

.option.correct.locked {
    border-color:#0F6E56;
    background: #E1F5EE;
}

.option.wrong.locked {
    border-color:#D93900;
    background: #FCEBEB;
}

/* Feedback */
.feedback {
    border: solid;
    border-radius: 6px;    
}

.feedback.ok {
    background: #EAF3DE;
    color: #27500A;
}

.feedback.no {
    background: #FCEBEB;
    color: #D93900;
}

/* Submit Button */
.button-submit:disabled {
    opacity: 0.4;
    cursor: default;
    margin-top: 6px;
}

/* Navigation Row */
.navigation-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-navigation {
    border: 1px solid;    
    cursor: pointer;
}

.navigation-text {
    font-size: 13px;
}

/* Questions */
.question-card {    
    padding: 10px;
    background: white;
    border: 1px solid;
    border-radius: 5px;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);    
    font-size: 24px;
}

.question-id {
    border-radius: 20px;
}

.question-id.number {
    background: #E1F5EE;
    color: #0F6E56;
}

.question-text {
    margin-bottom: 16px;
}